/*Global styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--main-font:"'Mochiy Pop P One', sans-serif";
	--secondary-font:;
	--body-font: "Lato Medium";
	--main-font-color-dark: #58731F;
	--body-font-color: black;
}

html{
	font-family: var(--body-font);
	font-size: 10px;
	color: var(--body-font-color);
	scroll-behavior: smooth;
}